body, p, h1, ul, li, blockquote {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
